<html>
    <head>
    </head>
    <body>
        Data transfer
        <br>
        <input type="file" id="fileInput" name="files"/>
    </body>
    <script src='js/files.js'></script>
    <script src='js/index.js'></script>
    <script src='js/adapter.js'></script>
</html>
